@model ContosoUniversity.Models.Course_Student
@{
    ViewBag.Title = "Abc";
}


<h2>This is the Abc.cshtml page under Views/Xyz</h2>
@foreach (var item in Model.Students)
{
    <h2> Student Name :   @item.FirstName @item.LastName </h2> 
}
